<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div>
        <form th:action = "@{/create_game}" method = "post">
            <div>
                <select name = "game" id = "game" th:value = "game">
                    <option value = "TicTacToe">Tic Tac Toe</option>
                   <!-- <option value = "Battle Ships">Battle Ships</option> This is for a future feature-->
                </select>

            </div>
            <div>
                <button type = "submit">New Game</button>
            </div>
        </form>
    </div>

    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</body>
</html>