<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ass</title>
</head>
<body>
  <form action = "${/login}" method = "post">
      <div><input type = "text" name = "username"/></div> <!--move these to the center-->
      <div><input type = "text" name = "password"/></div>
      <div><input type = "submit" value = "Sign in"></div>>
  </form>
  <div id = "botRCorner">
      <a href="/register" >Register</a>
  </div> <!--Move this to bottom corner-->
</body>
</html>