<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table width = "500px" height = "500px" id = "tableID">
    <tr>
        <td>_</td>
        <td>_</td>
        <td>_</td>
    </tr>
    <tr>
        <td>_</td>
        <td>_</td>
        <td>_</td>
    </tr>
    <tr>
        <td>_</td>
        <td>_</td>
        <td>_</td>
    </tr>
</table>
 <script type="text/javascript" th:src = "@{/js/world.js}">
 </script>
</body>
<style>
    table, td {
    border: 1px solid black;
    }
</style>
</html>